<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header> Iniciar Sesión</nb-card-header>

      <nb-card-body>
        <div class="row">
          <div class="col-lg-3">
            <label>Correo Electrónico</label>
          </div>
          <div class="col-lg-9">
            <input
              type="text"
              class="form-control"
              fullwidth
              placeholder="Correo electrónico del usuario"
              [(ngModel)]="correo"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-3">
            <label>Contraseña</label>
          </div>
          <div class="col-lg-9">
            <input
              type="password"
              class="form-control"
              fullwidth
              placeholder="Contraseña del usuario"
              [(ngModel)]="contrasena"
            />
          </div>
        </div>
        <br />
        <button
          type="submit"
          class="btn btn-primary btn-block"
          (click)="login()"
        >
          Inicio Sesión
        </button>
      </nb-card-body>

      <!-- <div class="demo-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
              <div class="text-center image-size-small position-relative">
                <img
                  src="https://annedece.sirv.com/Images/user-vector.jpg"
                  width="200px"
                  class="rounded-circle p-2 bg-white"
                />
                <div class="icon-camera">
                  <a href="" class="text-primary"
                    ><i class="lni lni-camera"></i
                  ></a>
                </div>
              </div>
              <div class="p-5 bg-white rounded shadow-lg">
                <h3 class="mb-2 text-center pt-5">Sign In</h3>
                <form>
                  <label class="font-500">Email</label>
                  <input
                    class="form-control form-control-lg mb-3"
                    type="text"
                    placeholder="Correo electrónico del usuario"
                    [(ngModel)]="correo"
                  />
                  <label class="font-500">Password</label>
                  <input
                    class="form-control form-control-lg"
                    type="password"
                    placeholder="Contraseña del usuario"
                    [(ngModel)]="contrasena"
                  />
                  <p class="m-0 py-4"></p>
                  <button type="submit"
                    class="btn btn-primary btn-lg w-100 shadow-lg"
                    (click)="login()"
                  >
                    Inicio Sesión
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </nb-card>
  </div>
</div>
